<!DOCTYPE html>
<html>
  <head>
    <title>VueJs pinia example</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  
    <script src="https://unpkg.com/vue-demi"></script>
    <script src="https://unpkg.com/pinia"></script>
  </head>
  <body>    
  
    <div id="app">
      <p>{{ count }}</p>
      <p>
        <Counter></Counter>
      </p>
      <div v-for="item in list" v-bind:key="item">
        <span>{{item}}</span> <input type="button" value="Delete item" @click="deleteItem(item)">
      </div>
      <input type="text" v-model="text"><input type="button" value="Add" @click="addItem(text)">
    
    </div>

    <script type="module">
      import store from "./store.js";
      import Counter from "./Counter.js";
           
      const pinia = Pinia.createPinia();

      const app = Vue.createApp({
        data(){
          return{
            text: ''
          }
        },
        components: {
          Counter
        },
        computed: {
          ...Pinia.mapState(store, ['count']),
          ...Pinia.mapState(store, ['list'])
        },
        methods: {
          ...Pinia.mapActions(store, ['increment']),
          ...Pinia.mapActions(store, ['addItem']),
          ...Pinia.mapActions(store, ['deleteItem'])
        },
        mounted(){
          console.log(this.text);
          this.increment();
        }        
      });
      app.use(pinia);
      app.mount('#app');
      
    </script>
    <style>
      #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
      }
      a{
        margin-right: 0.3em;
      }
    </style>
  </body>   
</html>